.mission {
	padding: 60px 0;
	&__back {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 90px;
		line-height: 108px;
		text-align: center;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.05);
	
	}
	&__wrapper {
		padding: 60px 30px;
		margin-bottom: 30px;
		position: relative;
		top: -40px;
		
		background: #FFFFFF;
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
		border-radius: 5px;

		text-align: center;
		font-family: 'Lato', sans-serif;
		::before, ::after {
		    content: "";
		    display: block;
		    width: 40%;
		    height: 1.5px;

		    position: absolute;
		    bottom: 0;
		    z-index: 1;
		}
		::before {
		    background-color: #004AF2;
		    right: 50%;
		}
		::after {
		    background-color: #FC2C2B;
		    left: 50%;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		text-transform: capitalize;
		color: #004AF2;
		margin-bottom: 5px;
	}
	&__subtitle {
		font-size: 21px;
		line-height: 25px;
		text-transform: capitalize;
		color: #585858;
	}
}